{% extends 'main/layout.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <table class="table table-hover table-dark">
        <thead>
            <tr>
              <th class="th-sm">Название</th>
              <th class="th-sm">Исполнитель</th>
            </tr>
        </thead>
        <tbody>
            {% for tr in tracks %}
                <tr>
                  <td>{{ tr.title }}</td>
                  <td>{{ tr.artist }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}